.vol-profile-form {

    display: flex;
    flex-direction: column;

}

#vol-profile-info {

    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 420px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 1px 1px 5px #000;

}

.vol-profile-form {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 420px;
    border-radius: 10px;
    padding-top: 30px;
    background-color: #f8f8f8;
    box-shadow: 1px 1px 5px #000;

}

.vol-profile-form input {

    width:306px;
    height: 30px;
    border: 1px solid rgba(0,0,0,.205);
    border-radius: 10px;
    outline: none;

}

.profile-controls {

    display:flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.profile-controls button {

    margin-top: 10px;
    margin-bottom: 10px;
    width: 136px;
    height: 30px;
    border: 1px solid rgba(0,0,0,.205);
    background-color: white;
    border-radius: 10px;
    outline: none;


}

.profile-controls .delProfile {

    border: 0px;
    background-color: #c0392b;
    color: #fff;

}