.public-pickup-request {

    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 420px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 1px 1px 5px #000;
    margin-bottom: 20px;

}

.public-pickup-request button {

    margin-top: 30px;
    margin-bottom: 30px;
    width: 136px;
    height: 30px;
    border: 1px solid rgba(0,0,0,.205);
    background-color: white;
    border-radius: 10px;
    outline: none;

}